@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Sarabun', sans-serif;
}

.navbar{
    background-color: rgb(225, 228, 196);
    display: flex;
    justify-content: space-between;
    color: #9a773b;
    align-items: center;

}
.navbar-brand {
    display: flex;
    align-items: center;
}


nav img{
    width: 100px;
    height: 100px;
    margin-right: 5px;
    margin-left: 10px;
}

nav p{
    font-size: 20px;
    margin-left: 110px;
    margin-top: -55px;
    color: #845c3c;
    margin: 0;
    font-weight: bold;
}




td a{
     color:#000000;

}

.head {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    width: 100%;
    height:100px;
    text-align: center;
    align-items: center;

}

.head h2{
    margin-top: 35px;
}


table {
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}

th, td {
    border: 2px solid #b0b0b0;
    width: 200px;
}
tr:nth-child(even) {
    background-color: #ffe1bd;
    height: 50px;
}

tr:nth-child(odd) {
    background-color: #ffffff;
    height: 50px;
}
.menu button {
    font-size: 18px;

    margin-left: 20px;


}

.menu a {
    color: black;
    text-decoration: none;
}
.container3 {
    background-color:rgb(251, 232, 157) ;
     margin-top: 200px;
     height: 135px;
 }

 .container3 p{
     font-size: 20px;
     text-align: center;
     text-decoration: none;
     color:#000000;
 }

 .delete{
    background-color: #ffff;
 }


 .button-19 {
    appearance: button;
    background-color: #b8875e;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: 'Sarabun', sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
  }

  .menu button {
    margin-top: 20px;
    background-color: #b8875e;
  }