#detail{
    text-indent: 2em;
    padding: 0 50px;
}
.card-body h5{
    font-size: 24px;
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rowpt-2mb-3{
    padding-right: 0;
}


.custom-div2 {
    width: 100%;
    background-color: rgba(255, 205, 0, 1.0);
    height: 140px;
    position: relative;
    top: 70px;
    align-items: center;
    margin-top: 30px;
}


