nav{
    background-color: black;
    text-align: center;
    height: 60px;
}
nav ul {
    list-style-type: none;
    padding-top: 20px;
}

nav li {
    display: inline;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: aliceblue;
}
h1{
    text-align: center;
}
input{
    width: 300px;
    height: 5px;
    padding: 10px; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    color: #333; 
    font-size: 16px; 
}
#submit{
    padding: 10px 20px;
    padding-top: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
#delete{
    padding: 10px 20px;
    padding-top: 10px;
    background-color: #ff0000;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
select{
    width: 200px; 
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    color: #333; 
    font-size: 16px;
    margin-bottom: 10px;
}
option{
    background-color: #f8f8f8; 
    color: #333;
    font-size: 16px;
}

.container{
    display: flex;
    flex-direction: column;
}